common --incompatible_disallow_empty_glob

# Use hermetic JDKs for testing and ensure compatibliity with Java 8.
common --java_language_version=8
common --java_runtime_version=remotejdk_8
common --tool_java_language_version=8
common --tool_java_runtime_version=remotejdk_8

# Hide Java 8 deprecation warnings.
common --javacopt=-Xlint:-options

# Enable modern C++ features, for compiling java_tools from source
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

# Some tests relies on dynamic libs that are not interface libs
# the latter are always enabled on Windows: https://github.com/bazelbuild/bazel/blob/1f5414408467171581b6142e93f67fe730d722cf/src/main/java/com/google/devtools/build/lib/rules/cpp/CcModule.java#L2430
# we can't use a transition because toolchain deps exceed the default --analysis_testing_deps_limit.
test --nointerface_shared_objects