# Automatically perform a release whenever a new "release-like" tag is pushed to the repo.
name: Release

on:
  push:
    tags:
    # Detect tags that look like a release.
    - "*.*.*"
permissions:
  id-token: write
  attestations: write
  contents: write
jobs:
  release:
    uses: bazel-contrib/.github/.github/workflows/release_ruleset.yaml@v7.2.3
    with:
      tag_name: ${{ github.ref_name }}
      prerelease: false
      draft: false
      generate_release_notes: true
      release_files: bazel-bin/distro/rules_java-*.tar.gz
      bazel_test_command: "bazel test //test/... -//test:docs_up_to_date_test"
  publish:
    needs: release
    uses: ./.github/workflows/publish.yaml
    with:
      tag_name: ${{ github.ref_name }}
